.newHostAreaButton {
    text-align: right;
}

.newHostAreaButton_button {
    display: inline-block;
    margin: 4px 8px;
    padding: 4px 16px;
    
    font-size: 14px;
    border: 1px solid var(--color-action-normal-light);
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    transition: var(--transition-duration-normal);
    color: var(--color-text-primary);
}

.newHostAreaButton_button:hover {
    border-color: var(--color-action-hover);
}

.newHostAreaButton_button:active {
    transform: scale(0.95);
}
