.hostAreaDescriptor {
    display: flex;
    align-items: center;
    white-space: nowrap;
    padding: 8px;
    cursor: pointer;
}

.hostAreaDescriptor_host {
    flex-grow: 1;
    padding: 0 24px 0 8px;
}

.hostAreaDescriptor_button {
    padding: 6px;
    margin: 2px;
    width: 16px;
    height: 16px;

    background-repeat: no-repeat;
    background-position: center;
    transition: var(--transition-duration-normal);
    opacity: 0;
}

.hostAreaDescriptor:hover .hostAreaDescriptor_button {
    opacity: 0.1;
}

.hostAreaDescriptor .hostAreaDescriptor_button:hover {
    border-radius: 4px;
    background-color: var(--color-action-selected);
    opacity: 0.8;
}

.hostAreaDescriptor_button:hover:active {
    transform: scale(0.9);
}

.hostAreaDescriptor_button__edit {
    background-image: url('../../images/pen.png');
}

.hostAreaDescriptor_button__delete {
    background-image: url('../../images/cross.png');
}

.hostAreaDescriptor_name {
    max-width: 600px;
    overflow: hidden;

    font-size: var(--size-text-title);
    font-weight: 600;
    color: var(--color-text-primary);
    text-overflow: ellipsis;
}

.hostAreaDescriptor_value {
    max-width: 600px;
    overflow: hidden;

    color: var(--color-text-secondary);
    text-overflow: ellipsis;
}
