.button {
    margin: 0;
    padding: 4px 16px;

    border: var(--border-normal-light);
    border-radius: 4px;
    transition: var(--transition-duration-normal);

    color: var(--color-text-primary);
    cursor: pointer;
}

.button:hover {
    border-color: var(--color-action-hover);
}

.button:active {
    transform: scale(0.95);
}
