.deleteHostArea {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.deleteHostArea_title {
    text-align: center;
}

.deleteHostArea_buttonsArea {
    display: flex;
}

.deleteHostArea_button {
    margin: 8px 8px 4px;
}
