.deleteHostArea {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.deleteHostArea_title {
    text-align: center;
}

.deleteHostArea_buttonsArea {
    display: flex;
}

.deleteHostArea_button {
    margin: 4px 8px;
    padding: 4px 16px;
    border: var(--border-normal-light);

    border-radius: 4px;
    cursor: pointer;
    transition: var(--transition-duration-normal);
    color: var(--color-text-primary);
}

.deleteHostArea_button:hover {
    border-color: var(--color-action-hover);
}

.deleteHostArea_button:active {
    transform: scale(0.95);
}
